
 /* .section{
   width: 750px;
    border: 2px solid green;
    padding: 20px; 
    margin: auto; 
}  */
 .section .display-button{
    position:relative;
    margin-left: 85%;
 }
.section .h1{
    text-align: center;
    margin-right: 50%;
 }
.fieldcss{
  margin-right: 50px;
}
table {
  width: 100%;
}
.FormClass{
  margin-left: 2%;
}
.border-top-color{
  margin: 2%;
}
.errorMessageDate{
  text-align: center;
  color: red;
}